body {
	direction: rtl;
	background-color: #0084FF;
	margin: 0;
	font-family: Changa;
}

@keyframes messages {
    0% {
		opacity: 0;
		margin-bottom: 0;
		
	}
    100% {
		opacity: 1;
		margin-top: 60px;
		margin-bottom: 0;
	}
}


@keyframes btn {
	0% {opacity: 0;}
	25% {opacity: 0;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
}


ul {
	list-style: none;
	margin: 0;
    padding: 0;	
	overflow: hidden;
	
}
nav {
	background-color: #134e82;
	margin: 0 0 0 0;
    padding: 0;	
	display: block;
}	
li {
	float: right;
}

li a {
    display: block;
    padding: 20px 16px;
    background-color: #134e82;
	text-decoration: none;
	color: white;
	text-align: center;
}

li a:hover {
    background-color: #111;
	text-decoration: none;
	color: #fff;
}

.active {
    background-color: #4CAF50;
}

.messages {
	text-align: center;
	font-size: 2em;
	color: #fff;
	font-weight: bold;
	animation-name: messages;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.bot-link {
	margin: 25px;
	animation-name: btn;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
