body {
	direction: rtl;
	background-color: #0084FF;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Changa";
	display: flex;
	flex-direction: column;
	font-size: 1.8vmax;
}
@keyframes messages {
    0% {
		opacity: 0;
		margin-bottom: 0;
		
	}
    100% {
		opacity: 1;
		margin-top: 0.8em;
		margin-bottom: 0;
	}
}


@keyframes btn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
nav {
	background-color: #134e82;
	margin: 0 0 1.5em 0;
    padding: 0;	
	display: flex;
	width: 100%;
}	

nav ul li{
	display: flex;
	color: #fff;
}
li#brand{
	font-size: 1.2em;
	margin: 0.5em 0.5em 0 0.5em;
}

li#brand p:hover{
	cursor: default;
}
a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
}


ul {
	display: flex;
	list-style: none;
	margin: 0;
    padding: 0;	
	overflow: hidden;
}


li a {
    background-color: #134e82;
	text-decoration: none;
	text-align: center;
	padding: 1em 1em;
	font-size: 0.9em;
}

li a:hover {
    background-color: #111;
	text-decoration: none;
	color: #fff;
}

.active {
    background-color: #4CAF50;
}

.messages {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: center;
	font-size: 1.7em;
	color: #fff;
	font-weight: bold;
	animation-name: messages;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.bot-link {
	margin-top: 0.5em;
	animation-name: btn;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

footer {
	position: absolute;
	bottom:0px;
	width: 100%;
	height: 90px;
	background-color: #134e82;
	overflow: hidden;
}
#sponsor {
	color: #fff;
	text-align: center;
	font-size: 0.8em;
	line-height: 1ex;
}
.fa {
	position: relative;
	left: 48%;
    padding: 0.7em 0.5em 0.6em 0;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}
#sponsor-link {
	text-decoration: underline;
}
#sponsor-link:hover {
	color: #5ff
}